.exemplo {
    background-color: black;
    width: 200px;
    height: 200px;
    border: 30px solid;
}

#exemplo-1 {
    border-image-source: url(../Images/Frame\ 1.png); /* Definindo uma imagem como borda */
    border-image-repeat: repeat;
    border-image-slice: 169;
}

#exemplo-2 {
    border-image-source: url(../Images/Frame\ 1.png); /* Definindo uma imagem como borda */
    border-image-repeat: stretch;
    border-image-slice: 169;
}

#exemplo-3 {
    border-image-source: url(../Images/Frame\ 1.png); /* Definindo uma imagem como borda */
    border-image-repeat: round;
    border-image-slice: 169;
}

#exemplo-4 {
    border-image-source: url(../Images/Frame\ 1.png); /* Definindo uma imagem como borda */
    border-image-repeat: space;
    border-image-slice: 169;
}